@import url(variable.css);
@import url(styles.css);

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-primary);
}

a {
  text-decoration: none;
}

ul[role="list"] {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

.container {
  --max-width: 23.45rem;
  width: min(var(--max-width), 100% - 1.5rem * 2);
  margin-inline: auto;
  padding-top: 2rem;
}

.desktop-ony {
  display: none;
}

@media (width >= 80rem) {
  .container {
    --max-width: 38rem;
  }

  .desktop-ony {
    display: block;
    margin: auto;
    width: 9rem;
    margin-bottom: 3rem;
  }
}