main {

  & a, & .inputWrapper, & ul, & li, & .alert-error {
    display: flex;
  }

  & a {
    font: var(--link);
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: var(--color-brand);
    margin-bottom: 1rem;
    transition: .5s;
    outline: none;

    &:hover, &:focus {
      color: var(--color-brand-hover);
    }
  }

  & h1 {
    font: var(--title);
  }

  & .inputWrapper {
    display: flex;
    flex-direction: column;
    margin-block: 2.3rem;
    gap: 1rem;
    
    & input, & button {
      border-radius: 12px;
      padding: 0.81rem;
      cursor: pointer;
    }

    & input {
      width: 100%;
      border: none;
      border: 2px solid var(--border-primary);
      outline: none;

      &:focus {
        border: 2px solid var(--color-brand);
      }

      &:hover {
        border: 2px solid var(--border-hover);
      }
    }

    & button {
      background-color: var(--color-brand);
      color: var(--always-white);
      font: var(--label);
      transition: .5s;
      outline: none;
      width: 100%;

      &:hover, &:focus {
        background-color: var(--color-brand-hover);
      }
    }

  }

  li, .alert-error {
    border-radius: 12px;
  }
  
  button, #btnCloseError {
    cursor: pointer;
    padding: 0.81rem; 
    margin-left: auto; 
  }

  ul {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.2rem;

    li {
      background-color: var(--background-secondary);
      align-items: center;
      font: var(--paragraph);
      position: relative;
      padding-left: 2.5rem;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        width: 1rem;
        height: 1rem;
        border-radius: 4px;
        border: 2px solid var(--border-primary);
        left: 0.81rem;
      }
      
    }
    
    /* CLASSES EM JS */
    li.checked::before {
      border: 2px solid var(--color-brand);
      background: url(../images/checked.svg) center / 1rem;
    }

  }

  .alert-error.erro {
    display: flex;
  }

  .alert-error {
    background-color: var(--color-danger);
    align-items: center;
    gap: 0.5rem;
    font: var(--paragraph);
    color: var(--always-white);
    padding-left: 0.81rem;
    display: none;
  }

}

@media (width >= 80rem) {
 main {
    & .inputWrapper {
      flex-direction: row;
      & button {
        width: 12rem;
      }
    } 
  }
}